@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
body {
	font-family: 'Lato', sans-serif;
  line-height: 1.5em!important;
}
body p {
  text-align: justify!important;
}

p,button{
	/*font-family: lato-light!important;*/
}
h1,h2,h3,h4,h5,h6{
	font-weight: 900!important;
  margin-bottom: 1.2rem!important;
}
.bg-dark,.navbar-dark {
 background-color : #2d303a!important;
}
.text-secondary{
	color :#666d89!important;
}
.btn-outline-secondary{
	border-color: #666d89!important;
	background-color: transparent!important;
}
.nav-link:focus,.navbar-dark .navbar-nav .nav_link:hover{
  color : #f06c64!important;
}
.nav-focus{
  color : #f06c64!important;
}
.active{
	color:white!important;
	border-color: white!important;
}
.bg-warning{
	background-color: #f06c64!important;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.mt-1{
	margin-top: 1rem!important;
}
.mt-2{
	margin-top: 2rem!important;
}
.mt-3{
	margin-top: 3rem!important;
}
.ml-2{
	margin-left: 2rem!important;
}
.mr-2{
	margin-right: 2rem!important;
}
.mr-22{
  margin-right: 22px!important;
}
.text-warning{
	color: #f0d8d9!important;
}
::placeholder{
	color: #f08586!important;
}
.form-control{
  color: #f08586!important;
  background-color: #d6564f!important;
  border: 0!important;
  font-size: 11.2px!important;
}
form button{
	color: #d6564f!important;
	background-color: #f0d8d9!important;
  width: 139px!important;
}
.col-md-3{
	margin-bottom: 8px!important;
  padding-right: 17px!important;
}
.container{
 margin-top: 48px!important;
 margin-bottom:48px!important;
}
.navbar-margin{
  height: 89px!important;
  margin-left: 0px!important;
  margin-right: 0px!important;
}
.navbar-mt{
	margin-top: 10px!important;
}
.navbar-mb{
	margin-bottom: 10px!important;
}
.navbar{
  z-index: 999!important;
}

.dot{
  height: 3px!important;
  width: 3px!important;
  background-color: #546e7a!important;
  margin: auto!important;
  border-radius: 50%!important;
  display: inline-block!important;
}
.carousel-control-next{
  padding-left: 8.5%!important;

}
.carousel-control-prev{
  padding-right: 8.5%!important;

}
.carousel-control-prev-icon{
  background-image: url('../images/carousel-control-prev.png');
  height: 27px!important;
  width: 16px!important;
}
.carousel-control-next-icon{
	background-image: url('../images/carousel-control-next.png');
  height: 27px!important;
  width: 16px!important;
}
.pl{
	padding-left: 0px!important;
}
.plf{
  padding
}
.foot-height{
  height: 76px!important;
}
.m-null{
  margin-bottom: 0px!important;
  margin-top: 0px!important;
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.mt-28{
  margin-top: 28px!important;
}
.mt-23{
  margin-top: 23px!important;
}
.mt-18{
  margin-top: 18px!important;
}
.mt-8{
  margin-top: 8px!important;
}
.copy{
  font-size: 12.8px!important;
}
.btn-res{
  margin-right: 8px!important;
  padding: 0.125rem 0.3rem !important;
  font-size: 11.2px!important;
}
.contact{
  font-size: 11.2px!important;
  line-height: 1.8em!important;
}
.contactp{
  font-size: 11.2px!important;
  margin-bottom: 17px!important;
  line-height: 1.8em!important;
}
.contacth{
  margin-bottom: 10px!important;
}
.res{
  margin-right: 6px!important;
}
.navbar-dark .navbar-nav .nav-link{
  color: rgba(255,255,255,1);
}
.quote{
  font-weight: 300!important;
  font-size: 17.6px!important;
}

.port{
  margin-bottom: 10px!important;
  font-weight: 300!important;
}
.servicep{
  font-weight: 300!important;
  font-size: 17.6px!important;
}
.serviceip{
  font-size: 11.52px!important;
  font-weight: 400!important;
}
.serviceima{
  margin-top: 8px!important;
}
.serviceh{
  margin-bottom: 0.5rem!important;
}

/*.porticont .row .col-md-3 img{
  width: calc(100% + 4px)!important;
  }*/
  #portfolio .container .row {
    justify-content: space-between!important;
  }
  #portfolio .container .row .pl {
    padding-right: 0!important;
    max-width: 23.75%!important;
  }
  #services .container{
    margin-top: 67px!important;
  }
  #portfolio .container{
    margin-top: 66px!important;
  }
  .porticont .row:last-child {
    padding-right: 0px!important;
  }

  @media only screen and (max-width: 575px) {
    .dot {
     display: none!important;
   }
   .navbar{
    width:100%!important;
  }
}
@media only screen and (max-width: 700px) {
  a.nav-link {
   font-size: 12.8px!important;
 }
}
@media only screen and (max-width: 600px) {
  .btn-res {
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-bottom: 4px;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .mt-8 {
   margin-top: 0px!important;
 }
 .col-md-3{
  padding-right: 0px!important;
}
}
@media only screen and (max-width: 330px) {
  .footer-med {
    font-size: 12.8px!important;  
  }
}
@media (min-width: 576px){
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }
}
@media only screen and (max-width: 767px) {
  .col-md-8 {
    margin-bottom: 10px!important;  
  }
  .col-md-4{
    padding-left: 0px!important;
  }
}